@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply font-sans bg-n-8 text-n-1 text-base;
  }
}

.rotate-45 {
  @apply rotate-[45deg];
}

.rotate-90 {
  @apply rotate-[90deg];
}

.rotate-135 {
  @apply rotate-[135deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}

.rotate-225 {
  @apply rotate-[225deg];
}

.rotate-270 {
  @apply rotate-[270deg];
}

.rotate-315 {
  @apply rotate-[315deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-45 {
  @apply rotate-[-45deg];
}

.-rotate-90 {
  @apply rotate-[-90deg];
}

.-rotate-135 {
  @apply rotate-[-135deg];
}

.-rotate-180 {
  @apply rotate-[-180deg];
}

.-rotate-225 {
  @apply rotate-[-225deg];
}

.-rotate-270 {
  @apply rotate-[-270deg];
}

.-rotate-315 {
  @apply rotate-[-315deg];
}

.-rotate-360 {
  @apply rotate-[-360deg];
}

@media only screen and (max-width: 400px) {
  .i {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 1400px) {
  .i {
    padding-top: 1.65rem;
    padding-bottom: 1.65rem;
  }
}
.one {
  place-items: center;
  grid-gap: 1rem;
}


.u {
  place-items: center;
  -ms-grid-row-align: center;
}

.y:hover .x {
  @apply md:opacity-20;
}

@media only screen and (max-width: 400px) {
  .c {
    @apply scale-75;
  }
}

@media only screen and (max-width: 355px) {
  .his {
    @apply px-4;
  }
}

@media only screen and (max-width: 325px) {
  .his {
    @apply px-8;  
  }
}

* {
  box-sizing: border-box;
}

.one {
  filter: drop-shadow(10px 200px 200px #2d0064);
}

@media only screen and (max-width: 600px) {
  .one {
    filter: drop-shadow(10px 10px 30px #2d0064)
  }
}



.q {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 900px) {
  .q {
    object-position: right;
  }
}

@media only screen and (max-width: 560px) {
  .one {
    height: 100%;
  }
}

@media only screen and (max-width: 760px) {
  .one {
    height: 100%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 385px) {
  .hectic {
    @apply top-0 right-1;
  }
}

.ace {
  position: relative;
  padding: 1.2rem;
  border-radius: 15px;
  background: linear-gradient(to right, #FFC876, #79FFF7, #9F53FF, #FF98E2, #FFC876);
}

.ace::before {
  content: '';
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background-color:  rgb(14 12 21 / var(--tw-bg-opacity)); /* Background color of the inner content */
  border-radius: 13px;
  z-index: 0; /* Lower the z-index to stay behind the content */
}

.ace img {
  position: relative;
  z-index: 1; /* Ensure the image appears above the pseudo-element */
}

.mine {
  background: url("https://jsm-brainwave.com/assets/service-3-CruucQ7U.png");
  background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}